@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
}

#root {
	width: 100%;
	height: 100%;
}

.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: 4rem;
	font-weight: 400;
	text-align: center;
	margin: 2rem auto;
}

.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3rem;
	border: 1px solid rgba(0, 0, 0, 0.057);
	box-shadow: 0 0 50px rgba(49, 48, 48, 0.032);
	margin-bottom: 3rem;
}

.input-email {
	margin: 1rem;
	width: 400px;
}

.input-password {
	margin: 1rem;
	width: 400px;
	margin-bottom: 3rem;
}

.navbar {
	margin-bottom: 2rem;
}

.noteScreen {
	display: flex;
	flex-direction: row;
	height: 80vh;
	justify-content: space-evenly;
	margin: 0 4rem;
}

.noteScreenSmall {
	/* display: flex; */
	flex-direction: column;
	height: 60vh;
	align-items: center;
}

.entriesFalse {
	flex-direction: column;
	height: 100vh;
	align-items: center;
}

.editScreenSmall {
	flex-direction: column;
	height: 70vh;
	align-items: center;
}

.noteScreenInputSmall {
	width: 63%;
}

@media (max-width: 500px) {
	.actionsContainer2 {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}
	.actionsContainer2 button {
		width: 30%;
		margin-top: 1rem;
	}
}

.prevEntries {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 80%;
	width: 20%;
}

.prevEntry {
	width: 100%;
}

.select {
	width: 400px;
	margin-bottom: 3rem;
}

.alertListComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 10rem;
	width: 25rem;
}

.alertPrevEntries {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	margin-top: 5rem;
}

.noEntries {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 500px;
	width: 80%;
}

.textareaContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 95%;
}

.titleDiv {
	margin-bottom: 1rem;
	margin-top: 0;
}
.titleInput {
	margin-left: 2rem;
	font-size: large;
}

.textarea {
	width: 90%;
	height: 100%;
	font-size: large;
}

.actionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 70%;
}

.actionIcon {
	cursor: pointer;
}

.socialLogin {
	margin-top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialIconDiv {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.75rem;
	margin: 0.5rem;
	width: 3rem;
	height: 3rem;
	background-color: #ffffff;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.socialIconImg {
	width: 100%;
}

.collapseContainer {
	display: flex;
	align-items: center; /* Vertically center */
	justify-content: center; /* Horizontally center */
	width: 100%;
}

.collapse {
	justify-content: center;
	width: 75%;
	margin-bottom: 1rem;
}
